<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Inscription Pokemon</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		<br>
		<main>
			<section style="text-align: center;">
				<div class="card">
					<div id="stars"></div>
					<div id="stars2"></div>
					<div id="stars3"></div>
					<br>
					<div class="logo">
						<img style="width: 400px;" src="/pictures/poke.svg.png">
					</div>
					<br>
					<div class="card-body">
						<form {% if pokemon %} action="/updatePokemon/{{pokemon.id}}" {% else %} action="/inscriptionpokemon" {% endif %} method="post">
							<img class="poke2" src="/pictures/ball2.png">&nbsp;
							<img class="poke" src="/pictures/bulbasaur.png">&nbsp;
							<img class="poke" src="/pictures/celebi.png">&nbsp;
							<img class="poke" src="/pictures/charmander.png">&nbsp;
							<img class="poke" src="/pictures/chikorita.png">&nbsp;
							<img class="poke" src="/pictures/cyndaquil.png">&nbsp;
							<img class="poke" src="/pictures/eevee.png">&nbsp;
							<img class="poke" src="/pictures/mew.png">&nbsp;
							<img class="poke" src="/pictures/pikachu.png">&nbsp;
							<img class="poke" src="/pictures/squirtle.png">&nbsp;
							<img class="poke" src="/pictures/totodile.png">&nbsp;
							<img class="poke2" src="/pictures/ball2.png">
							<br><br>
							<div>
								<h1>
									INSCRIPTION POKEDEX
								</h1>
								<br>
								<label for="firstname">POKEMON :</label>
								<br>
								<input placeholder="POKEMON" type="text" id="firstname" name="firstname" value={{pokemon.firstname}}>
							</div>
							<br>
							<div>
								<label for="mail">LEVEL :</label>
								<br>
								<input placeholder="LEVEL" type="number" id="level" name="level" min="1" max="100">
							</div>
							<br>
							<div>
								<label for="type">TYPE :</label>
								<br>
								<input placeholder="TYPE" type="text" id="type" name="type">
							</div>
							<br><br>
							<a href="/pageprincipale"><input onclick="play()" class="favorite styled" type="submit" value="🔵 VALIDER 🔵"></a>
						</form>
					</div>
				</div>
			</section>
		</main>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
		<script src="/js/main.js"></script>
	</body>
</html>
